README.html
LAYOUT.html
FAQ.html
DESIGN.html
CONTRIBUTING.html
CONDUCT.html
*~
*.pyc
_site
.DS_Store
.ipynb_*
twitterOAuth.R
.httr-oauth
data/breast-cancer
data/*.docx
.Rhistory
data/hy_video_comment_list.rds
doc/
config.yml
data/shapefile/CTPRVN_201902
data/shapefile/EMD_201902
data/shapefile/jscode20190301
data/shapefile/SIG_201902
data/gadm36_KOR_2_sf.rds
data/shapefile/LI_201902/
data/shapefile/HangJeongDong_ver2018xxxx_for_update.geojson
data/data_scientist@gmail.com.ics
